<section class="top-image">
    <div class= "container">
        <div class ="col-md-12">
            <%= image_tag "http://demo.themegraphy.com/write-ja/wp-content/uploads/sites/14/2018/06/cropped-nicole-honeywill-730102-unsplash.jpg", class: "img-fluid w-100" %>
            <div class="home-text">Writeは文章を書く人のためのミニマルなWordPressテーマです。装飾を極限まで省いたデザインは、あなたの文章を主役にします。 </div>
        </div>
    </div>
</section>
<section class="feeds">
    <div class = "container">
            <% @microposts.each do |micropost| %>
                    <a href="microposts/<%= micropost.id %>">
                        <div class= "row hentry">
                            <div class ="col-md-4">
                                <div class ="posted-on"><%= micropost.created_at.strftime("%Y年%m月%d日") %></div>
                            </div>
                            <div class ="col-md-8">
                                <div class="entry-header">
                                    <h2><%= micropost.title %></h2>
                                </div>
                                <div class="entry-summary">
                                    <p><%= micropost.subtitle %></p>
                                </div>
                            </div>
                        </div>
                    </a>
            <% end %>
    
        </div>
    </div>
</section>